#montanha {
  border: 1px solid black;
  position: relative;
  overflow: hidden;
}

#painel {
  border: 1px solid black;
  position: relative;
  overflow: hidden;
}

#skier {
  position: absolute;
}

.arvore {
  background-image: url(../img/obstacles.png);
  background-position: 0px -31px;
  width: 28px;
  height: 30px;
  position: absolute;
}

.arbusto-chamas {
  background-image: url(../img/obstacles.png);
  background-position: -21px -103px;
  width: 27px;
  height: 27px;
  position: absolute;
}

.cachorro {
  background-image: url(../img/skier.png);
  background-position: -21px -206px;
  width: 25px;
  height: 17px;
  position: absolute;
}

.rocha {
  background-image: url(../img/obstacles.png);
  background-position: -31px -53px;
  width: 23px;
  height: 13px;
  position: absolute;
}

.toco-arvore {
  background-image: url(../img/obstacles.png);
  background-position: -251px -52px;
  width: 19px;
  height: 11px;
  position: absolute;
}

.arvore-grande {
  background-image: url(../img/obstacles.png);
  background-position: -94px -67px;
  width: 34px;
  height: 63px;
  position: absolute;
}

.para-frente {
  background-image: url(../img/skier.png);
  background-position: -67px -2px;
  width: 15px;
  height: 32px;
}

.para-direita {
  background-image: url(../img/skier.png);
  background-position: -26px -6px;
  width: 22px;
  height: 28px;
}

.para-esquerda {
  background-image: url(../img/skier.png);
  background-position: -26px -43px;
  width: 22px;
  height: 28px;
}

.queda {
  background-image: url(../img/skier.png);
  background-position: -83px -81px;
  width: 33px;
  height: 28px;
}

.morto {
  background-image: url(../img/skier.png);
  background-position: -240px -1px;
  width: 33px;
  height: 32px;
}
