<html>
  <head>
    <title>About</title>
  </head>
  <body>
    <h2>
      SkiFree
    </h2>
    <p>
      <b>SkiFree</b>
      é um jogo feito para o Windows, cujos objetivos existem em número de
      quatro:
      <ul>
        <li>Entrar no Free-style course (com o objetivo de coletar "style
          points" (pontos de estilo) fazendo manobras).</li>
        <li>Entrar no bufface Slalom course (com o objetivo de completar um
          aberto de slalom no menor tempo possível).</li>
        <li>Entrar no Tree Slalom course (similar a um curso de Slalom, mas
          longo, com bandeiras pouco espaçadas, e com a presença de árvores).</li>
        <li>Entrar em nenhum destes cursos, e fazer apenas ski free (esqui
          livre).</li>
      </ul>
      Quando atingir a marca de 2.000 metros percorridos, aparecerá contra o
      jogador o abominable snow monster (abominável monstro da neve), que
      <br />
      á comer o jogador para forçar o final da partida. Não tem como escapar
      dele, ao menos que você vá pela diagonal oposta ao monstro e aperte
      <br />
      o F para aumentar a velocidade.
    </p>

  </body>
</html>