<html lang='en'>
  <head>
    <title>SkiFree</title>
    <link rel='stylesheet' href='/css/styles.css' />
  </head>
  <body>
    <div id='montanha'>
      <div id='skier'></div>
    </div>
    <div style='left: 300px; top: -400px' id='painel'></div>
    <script src='/scripts/script.js'></script>
  </body>
</html>