<html>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE-edge' />
    <meta name='viewport' content='width=device-width' />
    <link rel="stylesheet" href="/css/main.css"
    <title>SkiFree</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary"></nav>
    {{{body}}}
  </body>
</html>